.nav__button {
  display: none;
}

.nav__menu {
  flex-direction: row;
}

.nav__menu li {
  display: block;
}

.select-container select {
  margin-right: 5px;
}

.main-input {
  width: 530px;
  margin: 0 auto;
  padding: 30px 0 20px 0;
}
.main-input-container {
  width: 525px;
}

.main-input input {
  width: 450px;
}