* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html {
    font-size: 62.5%;
}

a {
    text-decoration: none;
    cursor: pointer;
}

.header {
    min-width: 320px;
    height: 60px;
    background-color: rgba(239, 236, 236, 1);
}

.nav-header {
    display: flex;
    justify-content: space-between;
    height: inherit;
}

.rio-icon {
    width: 20%;
    height: inherit;
    padding: 5px 0 0 12px;
}

.rio-icon img {
    width: 98.4px;
    height: 50px;
}

.nav-right {
    width: 60%;
    display: flex;
    justify-content: space-around;
    font-size: 2.0rem;
    list-style: none;
    padding-top: 20px;
}

.nav-right li a {
    /* margin-left: 15px; */
    color: rgba(0,0,0,0.87);
}

.menu-button {
    width: 80px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: #0078d0;
    outline: none;
    border: 0;
    cursor: pointer;
    text-align: center;
}

/* .search-icon img {
    width: 18px;
    height: 18px;
} */

.menu-button span {
    display: block;
    width: 26px;
    height: 2px;
    background-color: #fff;
    margin: 0 auto;
    margin-bottom: 3px;
}

main.principalPage{
    float:left;
    height: 100%; 
    padding-top: 10%;
    text-align: center; /*para centrar al momento de convertir los eleementos de bloque section.listaAthletes en elementos del inea*/

}

section.listaAthlete{
    /*float:left; /* para elementos de bloque*/ 
    width: 106px;
    height: 180px;
    /* padding-top: auto auto; */
    /* margin-top: 10px; */
   display: inline-block; 
   box-sizing: border-box;
   /* border:0.38rem solid rgb(165, 165, 165);  */
    /* se puede omitir solo para que se vea bien xd al voltear */
      perspective: 1000px; 
}

/* cuando le haces hover al elemento padre (seccion) entonces en el elemento hijo card */
.listaAthlete:hover .card_one{
    transform: rotateY(180deg);
    }

.card_one{
    width: 105px;
    height: 179px;
    /* con position relative en el padre y absolute ne el hijo hacemos que el hijo se ubique enciam del padre pero respetando a los div anteriores al padre */
    /* background: gray; */
    position:relative; 
    transform-style: preserve-3d;  
    /* se puede omitir solo para que se vea bien xd al voltear */
    transition: all 100ms;
}

.card_front, 
.card_back{
    /* 100% de todo el espacio de card one por eso card back se ve por debajo de card_one*/
    width: 100%; 
    height: 100%;
    /* card front esta ne la misma position que card back por eso la letra se sobreescribe */
    position:absolute;
    backface-visibility: hidden;
    transform-style: preserve-3d;
}
.card_front{
    background: gray;  
}
.card_back{
    transform: rotateY(180deg);
    background: red;  
}


.petRio{
    border-radius: 77px; 
    border: 4px solid #164986;
    margin: auto;  
    /*display: block;  */
    width: 77px;
    height: 76px; 
}

#pais, #nombre{
    font-family: 'Barlow';
    font-style: normal;
    font-size: 10px;
    text-align: center;
    margin:0;
    color: #000000;
}
