* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html {
    font-size: 62.5%;
}

a {
    text-decoration: none;
    cursor: pointer;
}

.header {
    min-width: 320px;
    height: 60px;
    background-color: rgba(239, 236, 236, 1);
}

.nav-header {
    display: flex;
    justify-content: space-between;
    height: inherit;
}

.rio-icon {
    width: 20%;
    height: inherit;
    padding: 5px 0 0 12px;
}

.rio-icon img {
    width: 98.4px;
    height: 50px;
}

.nav-right {
    width: 60%;
    display: flex;
    justify-content: space-around;
    font-size: 2.0rem;
    list-style: none;
    padding-top: 20px;
}

.nav-right li a {
    /* margin-left: 15px; */
    color: rgba(0,0,0,0.87);
}

.menu-button {
    width: 80px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: #0078d0;
    outline: none;
    border: 0;
    cursor: pointer;
    text-align: center;
}

/* .search-icon img {
    width: 18px;
    height: 18px;
} */

.menu-button span {
    display: block;
    width: 26px;
    height: 2px;
    background-color: #fff;
    margin: 0 auto;
    margin-bottom: 3px;
}