:root {
  --primary: #121f3d;
  --white: #fff;
  --gray: #2a324b;
  --black: #000;
  --olympicblue: #164986;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; /*Bordes de las cajas por dentro*/
}

html {
 font-size: 62.5%; /*Reseteando los tamaños de fuente para que 1 rem sea igual a 10px*/
}

body {
  font-family: 'Barlow', sans-serif;
  height: 100vh;
}

.nav {
  border-bottom: 1px solid var(--gray);
}

.menu_checkbox {
  display: none;
}

.nav__button {
  position: absolute;
  cursor: pointer;
  margin: 1.5rem;
  right: 0;
}

.nav__button svg {
  width: 2rem;
  fill: var(--primary);
}

.nav__menu {
  align-items: center;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  margin: 1rem;
}

.nav__menu li {
  display: none;
  list-style-type: none;
}

.nav__menu li:first-child {
  display: block;
  margin-right: auto;
}

.nav__menu a {
  color: inherit;
  font-size: 1.8rem;
  font-weight: 500;
  text-decoration: none;
}

.nav__menu a:hover {
  background: var(--primary);
  color: #83c5f7;
  border-radius: 5px;
  padding: 10px;
  transition: 0.3s;
}

.menu__logo {
  height: 50px;
}

.menu__logo img {
  height: 100%;
}

#menu_checkbox:checked ~ ul.nav__menu li {
  display: block;
}

#menu_checkbox:checked ~ label.nav__button .menu {
  display: block;
}

.principalPage {
  display: flex;
}

/*BARRA DE FILTROS*/
.select-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  background: rgb(251 251 251);
  display: none;
}

.select-container select {
  width: 125px;
  height: 35px;
  margin: 0 5px 0 5px;
  color: #272727;
  border: 1px solid rgba(0, 15, 32, 0.05);
  /*Todos estos estilos debajo son para la imagen de flechita en los select*/
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
  background-color: var(--white);
  background-image: url('data:image/svg+xml;charset=US-ASCII,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%22292.4%22%20height%3D%22292.4%22%3E%3Cpath%20fill%3D%22%23007CB2%22%20d%3D%22M287%2069.4a17.6%2017.6%200%200%200-13-5.4H18.4c-5%200-9.3%201.8-12.9%205.4A17.6%2017.6%200%200%200%200%2082.2c0%205%201.8%209.3%205.4%2012.9l128%20127.9c3.6%203.6%207.8%205.4%2012.8%205.4s9.2-1.8%2012.8-5.4L287%2095c3.5-3.5%205.4-7.8%205.4-12.8%200-5-1.9-9.2-5.5-12.8z%22%2F%3E%3C%2Fsvg%3E'),
  linear-gradient(to bottom, var(--white) 0%,#f7f7f7 100%);
  background-repeat: no-repeat, repeat;
  background-position: right .7em top 50%, 0 0;
  background-size: .65em auto, 100%;
}

.select-container select:focus {
  border-color: #aaa;
  box-shadow: 0 0 1px 3px rgba(59, 153, 252, .7);
  color: #222; 
  outline: none;
}

.filter-button {
  width: 80px;
  height: 25px;
  margin: 10px 0 10px 15px;
  border: 1px solid #aaa;
  background-color: var(--white);
  border-radius: 5px;
}

.filter-button:hover {
  width: 85px;
  height: 30px;
  background: var(--primary);
  color: #83c5f7;
  border-radius: 5px;
  padding: 5px;
  transition: 0.3s;
  cursor: pointer;
}

.section-container {
  margin: 0 auto;
}

/*BARRA DE BUSCAR*/
.main-input {
  display: flex;
  justify-content: center;
  margin: 30px 0 25px 0;
  visibility: hidden;
}

.main-input-container {
  width: 300px;
  border-radius: 100px;
  border: 2px solid #e6e6e6;
  display: flex;
  justify-content: center;
  align-items: center;
}

.main-input input {
  width: 230px;
  height: 35px;
  border: none;
  outline: none;
}

.main-input-container:hover {
  box-shadow: 0 1px 6px 0 #20212447;
  border-color: #dfe1e500;
}

/*Estilos para la lupita de la barra de buscar*/
.search-icon {
  background-image: url('https://img.icons8.com/android/24/000000/search.png');
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  width: 18px;
  height: 18px;
}

/* FORMATO MAIN */
main.principalPage {
  height: 100%;
  text-align: center; /*para centrar al momento de convertir los eleementos de bloque section.listaAthletes en elementos del inea*/
}

/* FORMATO ALL SPORTS */
.listSports {
  width: 218px;
  height: 250px;
  margin: 13px 13px;
  display: inline-block; 
  box-sizing: border-box;
  position: relative;
  visibility: hidden; 
  /* se puede omitir solo para que se vea bien xd al voltear */
  perspective: 1000px;
  cursor: pointer;
}

/* cuando le haces hover al elemento padre (seccion) entonces en el elemento hijo card */
.listSports:hover .card_sport{
  transform: rotateX(180deg);
}

.card_sport{
  width: 218px;
  height: 250px;
  /* con position relative en el padre y absolute ne el 
  hijo hacemos que el hijo se ubique enciam del padre pero 
  respetando a los div anteriores al padre */
  position:relative; 
  transform-style: preserve-3d;  
  /* se puede omitir solo para que se vea bien xd al voltear */
  transition: all 400ms; 
}

.sport_front, 
.sport_back{
  /* 100% de todo el espacio de card one por eso card back se ve por debajo de card_one*/
  width: 100%; 
  height: 100%;
  font-size: 1.8rem;
  /* card front esta ne la misma position que card back por eso la letra se sobreescribe */
  position:absolute;
  backface-visibility: hidden;  /*Para que la parte de atrás de la carta no se mire hasta que se le haga hover*/
  transform-style: preserve-3d;
}

.sport_front{
  border-radius: 0.75rem;
  background-color: transparent;
}

.sport_back{
  border-radius: 0.75rem;
  background-color: #f0f0f085;
  border:4px;
  transform: rotateX(180deg); 
}

.sport-Rio{
  border-radius: 77px; 
  margin: auto;  
  width: 100%;
  height: 100%;
} 

.card_back,
.card_front{
  font-style: normal;
  margin:auto;
  padding: 9px;
}

.what_Sport {
  font-size: 1.8rem;
  color: #164986;
  text-align: center;
}

.howManyAthletesSport, .genderAthletesSport {
  font-size: 13px; 
  color: black;
  text-align: justify;
  padding: 9px;
}
/* FORMATO ALL ATHLETES */

.listaAthlete{
  /*float:left; /* para elementos de bloque*/ 
  width: 210px;
  height: 242px;
  margin: 20px 20px;
  display: inline-block; 
  box-sizing: border-box;
  position: relative;
  /* visibility: hidden; */
  /* border:0.38rem solid rgb(165, 165, 165);  */
  /* se puede omitir solo para que se vea bien xd al voltear */
  /* perspective: 1000px;  */
}

/* cuando le haces hover al elemento padre (seccion) entonces en el elemento hijo card */
.listaAthlete:hover .card_back{
  display: block;
}

.card_one{
  width: 210px;
  height: 242px;
  /* con position relative en el padre y absolute ne el hijo hacemos que el hijo se ubique enciam del padre pero respetando a los div anteriores al padre */
  position:relative;
}

.nombre-At {
  width: auto;
  font-size: 1.9rem;
  font-weight: 500;
  border: 15px;
  margin: auto;
}

.card_front, 
.card_back{
  /* 100% de todo el espacio de card one por eso card back se ve por debajo de card_one*/
  width: 100%; 
  height: 100%;
  /* card front esta ne la misma position que card back por eso la letra se sobreescribe */
  position:absolute;
  font-style: normal;
  font-size: 11px;
  text-align: center;
  margin:auto;
}
.card_front{
  border-radius: 0.75rem;
  background-color: transparent;
  border: 2.5px outset var(--olympicblue);
}

.card_back{
  border-radius: 0.75rem;
  background-color: #EFECEC;
  border:4px;
  display: none;
}

.petRio{
  width: 77px;
  height: 76px;
  /* border-radius: 77px;*/
  margin: auto;
}

h2 {
  font-size: 2rem;
  font-weight: 700;
  text-transform: uppercase;
  color: var(--olympicblue);
}
h3 {
  font-size: 1.3rem;  
  color: var(--black);
}
p {
  font-size: 1.5rem;
  font-weight: 500;
  color: var(--black);
}
.infoAthletes {
  margin-bottom: 30px;
}
.infoHighlights,
.infoAthletes {
  font-size: 2rem;
  font-weight: 500;
}

.infoHighlights {
      margin-bottom: 40px;
}

.card_highlights {
  display: none;
}

.card-highlights-container {
  width: 270px;
  height: 270px;
  border-radius: 10px;
  display: inline-block;
  margin: 20px;
  
}

.highlights-img {
  padding: 15px;
}

.highlights-img img {
  width: 120px;
  height: 120px;
  border-radius: 50%;
}

.highlights-name {
  color: var(--black);
  font-size: 1.6rem;
  margin-bottom: 10px;
}

.highlights-medals {
  color: var(--black);
  font-size: 1.6rem;
}